* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde: #007d02;
    --vermelho: #c20000;
    --cinza: #2e2e2e;
    --branco: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cinza);
    color: var(--branco);
}

header {
    background-color: var(--verde);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--branco);
    margin-left: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: var(--vermelho);
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
